html, body, p {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
}

#start-container {
    background-color: #F4BEEE;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 8rem;
    margin-top: 6rem;
    color: white;
    font-family: 'Sigmar', cursive;
    user-select: none;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#start-button, #difficulty-button, #mode-button {
    font-size: 3rem;
    font-family: 'Sigmar', cursive;
    color: white;
    height: 6rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}